.cont {
  .top {
    color: #FF9302;
  }
  .bottom {
    color: #F00000;
  }
}
.logo {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-image: url("../img/WechatIMG299.png");
  background-size: contain;
}